 pagina{
    box-sizing: border-box;
    margin-top: flex;
    background-color: #1a3819;
    padding: 50px 0;
    display: flex;
} 

.FooterLogo{
    height: 40px;
    justify-content: left;
}

.FooterLogo:hover {
   background-color:#0d1b0c;
}
textoum{
 text-align: center;
}